/* animations */

@keyframes load-in {
  0% {
    opacity: 0%;
    transform: translateY(20px);

  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* NOTES BECAUSE I LOWKEY FORGOT MOST OF THE MEETING STUFF
-Create hover stuff on project text
- */