@media only screen and (max-width: 720px) {
  #caro-desktop{
    display: none;
  }
  #caro-mobile{
    display: inherit;
  }
  .caro-text{
    gap: 11px;
  }
  .text{
    font: 600 12px/24px mona sans, sans-serif;
  }
  .subtitle{
    font: 700 20px/24px mona sans, sans-serif;
  }
}  
@media only screen and (min-width: 721px) {
  #caro-mobile{
    display: none;
  }
  #caro-desktop{
    display: inherit;
  }
  .caro-text{
    gap: 16px;
  }
  .text{
    font: 600 14px/24px mona sans, sans-serif;
  }
  .subtitle{
    font: 700 36px/42px mona sans, sans-serif;
  }
}