@media only screen and (max-width: 720px){
    .header-mobile{
        display: flex;
        overflow: scroll;
        opacity: 98%;
        position: fixed;
        top: 0;
        width: 100%;
        height: 20px;

    }
    .header{
        display: none;
    }

}

@media only screen and (min-width: 721px){
    .header{
        display: flex;
    }
    .header-mobile{
        display: none;
    }
}

/* must swap this to index css, cannot make child component bigger than what it is allowed. */

*{
    box-sizing: border-box;
}