


/* animations */
@keyframes load-in {
    0%{
        opacity: 0%;
        
    }
    100%{
        opacity: 100%;
        transform: translateY(-20px);
    }
}

.hero-container{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 100px;
}


/* special animations for scroll box */
@keyframes lineColorL {
    0%{
        fill: white;
    }
    100%{
        fill: #D9D9D9;
    }
    
}
@keyframes lineColorD {
    0%{
        
        fill: #D9D9D9;
    }
    100%{
        fill: white;
    }
    
}
/* scroll container */
.scroll-down{
    opacity: 0%;
    

    display: flex;
    flex-direction: row;
    rotate: 90deg;
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    bottom: 300px;
    left: 0px;
    margin-left: -170px;
    gap: 20px;
    z-index: 99;

    animation: load-in 0.5s 0.5s forwards, lineColorL 0.5s linear forwards;
}
.line1{
    background-color: none;
    border-bottom: 3px solid #D9D9D9;
    width: 128px;
    height: 3px;
    animation: lineColorL 0.5s linear forwards;
}
.scroll-text{
    background-color: none;
    transform: rotate(180deg);
    animation: lineColorL 0.5s linear forwards;
}
.line2{
    z-index: 2;
    background-color: none;
    border-bottom: 3px solid #D9D9D9;
    width: 128px;
    height: 3px;
    animation: lineColorL 0.5s linear forwards;

}
.arrowhead{
    background-color: none;
    border: solid #D9D9D9;
    animation: lineColorL 0.5s linear forwards;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    rotate: -45deg;
    margin-left: -17px;
    margin-top: 2px;
}



/* hero content */

.hero-content{
    transform: translateY(20px);
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    max-width: 100%;
    animation: load-in 0.5s linear forwards;
    
}
.statement{
    opacity: 0%;
    transform: translateY(20px);

    justify-content: center;
    color: #1e1d1d;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    max-width: 596px;
    font: 700 1.25vmax/68px Mona Sans, -apple-system, Roboto, Helvetica,
    sans-serif;

    animation: load-in 0.75s linear forwards, genColorL 0.5s linear forwards;

}

.envision{
    opacity: 0%;
    transform: translateY(20px);

    text-align: center;
    text-transform: uppercase;
    font: 800 171px/102px Mona Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
    max-width: 100%;
    font-size: 8vmax;
    line-height: 26px;
    margin-top: 3.5vmax;
    animation: load-in 0.75s forwards, genColorL 0.5s linear forwards;

}


.hero-purpose{
    opacity: 0%;
    transform: translateY(20px);
    text-align: center;
    align-self: center;
    max-width: 515px;
    font: 500 1vmax/28px Mona Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
    max-width: 100%;
    margin-top: 3vmax;

    animation: load-in 0.75s 0.5s forwards, genColorL 0.5s linear forwards;
}

.hero-phone-img-container{
    opacity: 0%;
    transform: translateY(20px);
    align-self: center;
    animation: load-in 0.75s 0.5s forwards, genColorL 0.5s linear forwards;
}

/*Project button*/
.view-projects-container{

    z-index: 2;
    text-decoration-line: none;
    border-radius: 6px;
    align-self: center;
    display: flex;
    width: 185px;
    max-width: 100%;
    align-items: start;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    animation: arrowColorL 0.5s linear forwards;
}
.view-projects-text{
    animation: arrowColorL 0.5s linear forwards;
    font: 500 16px/28px Mona Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
    margin: auto;

}

/* animations for arrow svg */
@keyframes arrowColorL {
    0%{
        background-color: white;
        fill: #1e1d1d;
        color: #1e1d1d;
    }
    100%{
        background-color: #1e1d1d;
        fill: white;
        color: white;
    }
    
}
@keyframes arrowColorD {
    0%{
        background-color: #1e1d1d;
        fill: white;
        color: white;
    }
    100%{
        background-color: white;
        fill:#1e1d1d;
        color: #1e1d1d;
    }
    
}
.arrow{
    margin: auto;
    background-color: none;
    display: flex;
    align-items: center;
    align-self: center;
    animation: arrowColorL 0.5s linear forwards;
}






.phone-demo-img{
    content: url("../assets/lightPhoneDemo.png");
}




    
    .dark-mode .hero-container{
        animation: genColorD 0.5s linear forwards;  
    }   
    .dark-mode .hero-content{
        background-color: #1e1d1d;
    }
    .dark-mode .statement{
        color: white;
    }
    .dark-mode .envision{
        color: white;
    }
    .dark-mode .hero-purpose{
        color: white;
    }


    .dark-mode .view-projects-container{
        animation: arrowColorD 0.5s linear forwards;
    }
    .dark-mode .view-projects-text{
        animation: arrowColorD 0.5s linear forwards;
    }
    .dark-mode .arrow{
        animation: arrowColorD 0.5s linear forwards;
    }




    .dark-mode .line1{
        animation: lineColorD 0.5s linear forwards;
    }
    .dark-mode .line2{
        animation: lineColorD 0.5s linear forwards;
    }
    .dark-mode .arrowhead{
        animation: lineColorD 0.5s linear forwards;
    }

    .dark-mode .phone-demo-img{
        content: url("../assets/darkPhoneDemo.png");
    }
