/* OVERHAUL OF HERO COMPONENT */

@media only screen and (max-width: 720px) {

  #hero-container {
    justify-content: center;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 40px;
    padding-top: 120px;
    /* position: relative; */
    background-color: white;
    transition: all 0.25s ease-in;
    overflow: hidden;
    padding-bottom: 20px;
  }

  #scroll-container{
    display: none;
  }

  #hero-textbox{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  #hero-statement{
    color: #1E1D1D;
    font: 700 20px/28px mona sans;
    margin: auto;
    transition: all 0.25s ease-in, opacity 0s;
  }

  #hero-envision{
    color: #1E1D1D;
    font: 800 64px/42px mona sans;
    text-align: center;
    margin: auto;
    transition: all 0.25s ease-in, opacity 0s;
  }

  #hero-purpose{
    color: #1E1D1D;
    font: 500 14px/20px mona sans;
    margin: auto;
    transition: all 0.25s ease-in;
    text-align: center;
  }

  #cta{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
    z-index: 10;

    width: 185px;
    height: 64px;
    border-radius: 6px;
    background-color: #1E1D1D;
    border: solid 1px #1E1D1D;
    text-decoration: none;
    transition: all 0.25s ease-in;
  }
  #hero-cta-textbox{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 16px;
  }
  #cta-text{
    color: white;
    font: 500 16px/28px mona sans;
    transition: all 0.25s ease-in;
  }
  #cta-arrow{
    fill: white;
    margin: auto;
    transition: all 0.25s ease-in;
  }

  /* Phone mockup for mobile breakpoint */
  #hero-mockup-container {
    display: flex;
    margin: auto;
    width: 100%;
    scale: 1.3;
    
  }
  #hero-mockup-img {

    margin: auto;
    width: 100%;
    margin-top: -30px;
    animation: contentL 0.25s ease-in forwards;
  }
}



@media only screen and (min-width: 721px) {


  #hero-container {
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 40px;
    padding-top: 140px;
    position: relative;
    background-color: white;
    transition: all 0.25s ease-in;
  }
  
  /* Hero Textbox */
  #hero-textbox {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  #hero-statement {
    font: 700 24px/64px mona sans;
    color: #1E1D1D;
    margin: auto;
    transition: all 0.25s ease-in, opacity 0s;
  }

  

  #hero-envision {
    font: 800 171px/60px mona sans;
    text-align: center;
    color: #1E1D1D;
    margin: auto;
    transition: all 0.25s ease-in, opacity 0s;
  }

  #hero-purpose {
    font: 500 18px/80px mona sans;
    color: #1E1D1D;
    margin: auto;
    transition: all 0.25s ease-in, opacity 0s;
  }


  /* Hero CTA */
  #cta {
    text-decoration: none;
    display: flex;
    width: 200px;
    height: 64px;
    border: solid 1px #1E1D1D;
    background-color: #1E1D1D;
    z-index: 3;
    margin: auto;
    border-radius: 6px;
    transition: all 0.25s ease-in, opacity 0s;
  }
  #hero-cta-textbox {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  #cta-text {
    font: 500 16px/28px mona sans;
    color: white;
    margin: auto;
    transition: all 0.25s ease-in;
  }

  #cta-arrow {
    fill: white;
    margin: auto;
    transition: all 0.25s ease-in;
  }

  /* Phone img for desktop breakpoint */
  /* Mockup CSS */
  #hero-mockup-container {
    display: flex;
    margin: auto;
    width: 70%;
  }
  #hero-mockup-img {

    margin: auto;
    width: 100%;
    margin-top: -100px;
    animation: contentL 0.25s ease-in forwards;
  }

  /* scroll-container */
  #scroll-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    rotate: -90deg;
    left: -140px;
    top: 60vh;
    transition: all 0.25s ease-in, opacity 0s;
  }


  #scroll-arrow {
    display: flex;
    flex-direction: row;
  }

  #scroll-arrowhead {
    width: 19px;
    height: 19px;
    border-radius: 3px;
    border: solid;
    border-width: 3px 0 0 3px;
    border-color: #D9D9D9;
    rotate: -45deg;
    margin-right: -22.5px;
    margin-left: 20px;
  }

  #scroll-line2 {
    background-color: #D9D9D9;
    height: 3px;
    width: 123px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    border-radius: 3px;
  }

  #scroll-text {
    color: #1E1D1D;
    font: 500 18px mona sans;
    transition: all 0.25s ease-in;
  }


  #scroll-endLine {
    height: 3px;
    width: 128px;
    background-color: #D9D9D9;
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
  }
}


@media only screen and (min-width: 1921px) {

  #hero-envision{
    font: 800 100%/50% mona sans;
    text-align: center;
    margin: auto;
    /* overflow: hidden; */
    transition: all 0.25s ease-in;
  }
  #envision-scaler{
    display: flex;
    width: 55vw;
    height: 10vw;
    font-size: 10vw;
    margin: auto;
    transition: all 0.25s ease-in;
  }
  #hero-textbox{
    gap: 0;
  }
  
}



.dark-mode #hero-container {
  background-color: #151515;
  transition: all 0.25s ease-in;
}



.dark-mode #hero-statement {
  color: white;
  transition: all 0.25s ease-in;
}

.loadin #hero-statement {
  opacity: 0;
  animation: load-in 0.5s 0.25s ease-in-out forwards;
}
.loadin #cta {
  opacity: 0;
  animation: load-in 0.5s .75s ease-in-out forwards;
}

.dark-mode #hero-envision{
  color: white;
  transition: all 0.25s ease-in, opacity 0s;
}
.loadin #hero-envision{
  opacity: 0;
  animation: load-in 0.5s 0.25s ease-in-out forwards;
}

.dark-mode #hero-purpose {
  color: white;
  transition: all 0.25s ease-in, opacity 0s;
}

.loadin #hero-purpose {
  opacity: 0;
  animation: load-in 0.5s .75s ease-in-out forwards;
}

/* Hover CTA */
#cta:hover {
  background-color: white;
  transition: all 0.25s ease-in;
}

#cta:hover #cta-text {
  color: #151515;
  transition: all 0.25s ease-in;
}

#cta:hover #cta-arrow {
  fill: #151515;
  transition: all 0.25s ease-in;
}

/* Dark mode CTA */
.dark-mode #cta {
  border: solid 1px white;
  background-color: white;
  transition: all 0.25s ease-in, opacity 0s;
}

.dark-mode #cta-text {
  color: #151515;
  transition: all 0.25s ease-in;
}

.dark-mode #cta-arrow {
  fill: #151515;
  transition: all 0.25s ease-in;
}

/* Dark mode hover CTA */
.dark-mode #cta:hover {
  background-color: #151515;
  transition: all 0.25s ease-in;
}

.dark-mode #cta:hover #cta-text {
  color: white;
  transition: all 0.25s ease-in;
}

.dark-mode #cta:hover #cta-arrow {
  fill: white;
  transition: all 0.25s ease-in;
}





/* Animation */
@keyframes contentL {
  0% {
    opacity: 100%;
    content: url("../assets/Phone_Mockup_3.png");
  }

  50% {
    opacity: 0%;
  }

  51% {}

  100% {
    opacity: 100%;
    content: url("../assets/lightPhoneDemo.png");
  }

}

@keyframes contentD {
  0% {
    opacity: 100%;
    content: url("../assets/lightPhoneDemo.png");
  }

  50% {
    opacity: 0%;
  }

  51% {}

  100% {
    opacity: 100%;
    content: url("../assets/Phone_Mockup_3.png");
  }


}

.loadin #hero-mockup-container {
  opacity: 0;
  animation: load-in .75s 1s ease-in-out forwards;
}

.dark-mode #hero-mockup-img {
  animation: contentD 0.25s ease-in forwards;
}

.dark-mode #scroll-text {
  color: white;
  transition: all 0.25s ease-in;
}

.loadin #scroll-container {
  opacity: 0;
  animation: load-in 0.75s 1.5s ease-in-out forwards;
}

.one-time{
  opacity: 0;
  transform: translateY(40px);

  transition: all 0.5s ease-in-out, opacity .5s !important;
}