@keyframes dMode {
  0% {
    background-color: white;
  }

  100% {
    background-color: #151515;
  }

}

@keyframes lMode {
  0% {
    background-color: #151515;
  }

  100% {
    background-color: white;
  }
}

#homepage {
  z-index: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: all 0.25s ease-in;
}
.dark-mode #homepage {
  background-color: #151515;
  transition: all 0.25s ease-in;
}